.css-18csb69{padding-top:1px;}

.css-19rqlec{
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	width:100%;
	min-width:1024px;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-align-items:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	background-color:#fff;
	z-index:999;
	position:fixed;
	top:0px;
	right:0;
	left:0;
	box-shadow:0 4px 6px -1px rgba(0,0,0,0.07);
	-webkit-transition:-webkit-transform 280ms ease;
	-webkit-transition:transform 280ms ease;
	transition:transform 280ms ease;height:110px
	}@media (max-width:768px)
	{.css-19rqlec{
		min-width:768px;
	}
	}

.css-1s8dqy5{
	width:96%;
	left:32px;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;height:56px;
	top:30px;position:fixed;
	-webkit-align-items:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
}

.css-1jzqg4i{
	width:100%;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;height:32px;
	z-index:3;
	background-color:#f3f4f5;
	border-bottom:1px solid #f3f3f3;
	padding:0 32px;position:fixed;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	left:0px;right:0px;
}

.css-1t2cza5{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-align-items:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	min-width:168px;
	margin-right:16px;
}

.css-1rhxxyn{
	position:relative;
	display:block;
	width:100%;
	min-height:100vh;
	margin:0px auto 150px;
}

button.css-1rhxxyn{
	font-family:'open sans','tahoma',sans-serif;
	cursor:pointer;
}

.css-ztvvor{
	overflow:hidden;
	margin-left:0;
	margin-right:0;
}

.css-1rbi5xs{
	position:absolute;
	left:0;right:0;
	bottom:0;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row;
	-ms-flex-flow:row;
	flex-flow:row;
	-webkit-align-items:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	height:36px;
	width:100%;
	margin:0px auto;
}

.css-12azmii{
	background-repeat:no-repeat;
	background-image:transparent;
	background-size:99% 100%;
	display:inline-block;
	height:auto;margin:0 auto;
	position:relative;
	text-align:center;
	width:100%;
	position:absolute;
	display:block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:var(--N50,#F3F4F5);
	overflow:hidden;
	margin:0;
	padding:0;
}